@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  background: pink;
  display: flex;
  flex-direction: row;
}

.panel {
  width: 250px;
  padding-left: 10px;
  border: 10px solid lightgray;
}

.chart {
  width: 300px;
  margin-left: 10px auto;
  padding: 0px;
  border: 10px solid lightgray;
}

.headerbar {
  position: sticky;
  z-index:1000;
  top: 0;
  font-family: 'Bree Serif', cursive;
  height: 80px;
  background-color: #4B78B8;
  color: whitesmoke;
  margin-bottom: 2px;
  padding-left: 20px;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.h3 {
  font-size: 17px;
  font-family: 'Bree Serif', cursive;
}

.input {
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.input:focus {
  background-color: lightblue
}