@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  background: pink;
  display: flex;
  flex-direction: row;
}

.panel {
  width: 25%;
  padding: 0px;
  border: 10px solid lightgray;
}
.chart {
  width: 200;
  margin-left: 10px auto;
  padding: 0px;
  border: 10px solid lightgray;
}

.headerbar {
  position: sticky;
  z-index:1000;
  top: 0;
  font-family: 'Bree Serif', cursive;
  height: 80px;
  background-color: #4B78B8;
  color: whitesmoke;
  margin-bottom: 2px;
  padding-left: 20px;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}